body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main {
  font-family: "Road Rage", cursive;
  font-size: 6rem;
  margin-left: 32%;
}

.user-con {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

.user-img {
  width: 20%;
  border: 1px solid black;
  box-shadow: black 1px 2px;
  margin-right: 3%;
}

.user-info {
  position: relative;
  bottom: 50px;
}

h1 {
  font-family: "Road Rage", cursive;
  font-size: 4rem;
}

.form {
  display: inline-block;
  width: 100%;
  height: 4vh;
  margin-left: 32%;
  padding-bottom: 2%;
}

p {
  font-weight: bold;
}

.follower-con {
  display: flex;
  flex-flow: row wrap;
  width: 50%;
  margin-left: 15%;
  margin-bottom: 3%;
  padding: 5%;
}

.follower-img {
  width: 80%;
  height: 20vh;
  margin-left: 20%;
  border: 2px solid black;
}

.follower-name {
  font-size: 2rem;
  margin-left: 20%;
}
